.heading {
    background-color: bisque;

}

body {
    text-align: center;
    
}


.pic {
    
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    height: 30rem;
    background-image: url(/Users/Austin/Desktop/New-Coding/Messages/Media/toothless.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 20px solid black;
    background-position: 50% 50%;

    
}